.chapter {
    padding-block: 110px;
    margin-block: 110px;
    position: relative;

    * {
        text-align: left;
    }

    @media (max-width: $tablet-breakpoint) {
        padding-block: 30px;
        margin-block: 30px;
    }
}

.color-spy {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: sticky;
    background-color: red;
}
